---
layout: default
---
<div class="wrap">
  <article class="article">
    <a class="back-link" href="{{ '/blog/' | relative_url }}">&larr; All posts</a>
    <div class="meta">
      {{ page.date | date: '%B %-d, %Y' }}
      {% assign words = content | number_of_words %}
      &middot; {{ words | divided_by: 200 | plus: 1 }} min read
      {% if page.tags and page.tags.size > 0 %}&middot; {{ page.tags | join: ' / ' }}{% endif %}
    </div>
    <h1>{{ page.title }}</h1>
    {% if page.excerpt %}<p class="dek">{{ page.excerpt | strip_html }}</p>{% endif %}

    <div class="prose">
      {{ content }}
    </div>

    <div class="post-foot">
      Written by <b>Petros Soutzis</b>. Found this useful or want to discuss a project?
      <a href="{{ '/' | relative_url }}#contact">Get in touch</a>.
    </div>
  </article>
</div>
